@import url("animation.css");

@font-face {
	font-family: "Manrope";
	src: url("../fonts/manrope-bold.woff") format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/manrope-medium.woff") format("woff");
	font-weight: 600;
}

html {
	background: #111111;
	padding: 0;
	margin: 0;
}

.head {
	position: fixed;
	/* pointer-events: none !important; */
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
}

body {
	font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.4em;
	line-height: 1.6;
}

body, a {
	color: rgb(255, 255, 255);
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	-webkit-transition: -webkit-all .3s ease;
	-moz-transition: -moz-all .3s ease;
	transition: all .3s ease;
	pointer-events: auto !important;
	border-bottom: 2px solid rgba(255, 255, 255, .2);
}

a:hover {
	border-bottom: 2px solid rgba(255, 255, 255, .3);
}

a:hover .canvas {
	opacity: .2;
}

p {
	margin-bottom: 16px;
	font-weight: 600;
}

.wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
	display: table;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	table-layout: fixed;
}

.container {
	display: table-cell;
	vertical-align: middle;
	padding: 40px 0;
}

.about {
	width: 800px;
	margin: 0 auto;
}

h1 {
	margin-bottom: auto;
	line-height: 1.4
}

.description {
	width: 100%;
	padding-left: 400px;
}

::selection {
	background: rgba(0, 0, 0, .2);
	color: rgba(255, 255, 255, .6);
}

::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 1em;
	}
	.about {
		width: 100%;
		padding: 0 40px;
	}
	.description {
		padding-left: 0;
	}
	.wrapper {
		height: 80%;
		margin: 20% 0 0;
	}
}